* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Monospace;
    margin: 0;
  }
  
  .header {
    padding: 50px;
    text-align: center;
    background: #92bb82;
    color: white;
    font-size: x-large;
  }
  
  .navbar {
    display: flex;
    background-color: #333;
    font-size: large;
  }
  
  .navbar a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
  }
  
  .navbar a:hover {
    background-color: #ddd;
    color: #333;
  }
  
  .main {
    background-color: white; 
    padding: 10px; 
    font-size: large;
  }
  
  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    text-align: center;  
    background-color: #333;  
  }
  li a{
      text-decoration: none;
      color: #333;
  }
  li a:hover {
    background-color: #333;
    color: #ddd;
  }